<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "UseSafe", root_path %>
        <li class="nav-link"><%= link_to "Educational Forum", posts_path %></li>
        <li class="nav-link"><%= link_to "Resources", resources_path %></li>
        <li class="nav-link more"><%= link_to "Readings", readings_path %></a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <%= form_for(:search, url: search_path, method: :get) do |form| %>
            <%= form.text_field :query, placeholder: "Search Here" %>
            <%= form.submit "Search", class:"search" %>
          <% end %>
        </div>
      </div>
      <%= link_to "Sign Up", new_user_registration_path, class: "sign-up" %>
      <% if signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-up" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
