<nav class="front-page-nav">
  <p>
  <%= link_to "Check out our Resources", resources_path, class:"resource-buttons" %>
  <%= link_to "Search our Resources", new_search_path, class:"resource-buttons" %>
  <%= link_to "Add a Resource", new_resource_path, class:"resource-buttons" %>
  <%= link_to "Sign In", new_user_session_path, class:"sign-in-buttons" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"sign-in-buttons" %>
  <%= link_to "Sign Up", new_user_registration_path, class:"sign-up-buttons", class:"sign-in-buttons" %>
  </p>
</nav>
<div id="landing-page">
  <div class="div1">
    <h1>UseSafe</h1>
    <h3>Quick, easy access to harm reduction resources.</h3>
  </div>
</div>
