<div class="post-title">
  <%= @post.title %>
</div>
<div class="post-desc">
  <%= @post.description %>
  <p class="post-admin"> posted by <%= @post.user.username %></p>
</div>
<div id="comments">
  <%= render @comments %>
  <%= form_for [@post, @comment], remote: true do |form| %>
    <div>
      <%= form.text_area :body, rows: 5 %>
    </div>
    <%= form.submit "Create a Comment" %>
  <% end %>
</div>
